.navbar-container {
    background-color: #154734; /* Dark green background color */
    padding: 10px 0;
    text-align: center;
  }
  
  .navbar-links {
    display: flex;
    justify-content: center;
  }
  
  .navbar-link {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .navbar-link:hover {
    color: #007bff; /* Change color on hover */
  }
  